
body { 
    font-family: Arial; 
    background:#0d1b2a; 
    color:#e0e1dd; 
    margin:0; 
}
.container{ 
    width:400px; 
    margin:80px auto; 
    background:#1b263b; 
    padding:25px; 
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,.4);
}
input{ 
    width:100%; 
    padding:10px; 
    margin:8px 0; 
    border-radius:6px; 
    border:1px solid #415a77; 
}
.btn{ 
    width:100%; 
    background:#415a77; 
    padding:12px; border:none; 
    border-radius:6px; 
    color:white; 
    cursor:pointer; 
}
.btn:hover{ 
    background:#527ba0; 
}
.nav{ 
    background:#1b263b; 
    padding:15px; 
    display:flex; 
    gap:20px; 
}
.nav a{ 
    color:#e0e1dd; 
    text-decoration:none; 
}
.card{ 
    background:#1b263b; 
    padding:20px; 
    border-radius:12px; 
    margin:20px 0; 
}
table{ 
    width:100%; 
    border-collapse:collapse; 
    margin-top:15px; 
}
td,th{ 
    padding:10px; 
    background:#415a77; 
    border:1px solid #1b263b; 
}
